html {
  box-sizing: border-box
}

/* The Universal Selector */
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}

body {
  background-color: gray;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: rgb(6, 124, 108);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  margin: 100px ;

  
}
main{
  min-height: 100hv;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  background-color: rgb(241, 230, 230);
  border-radius: 5px;
}

div {
  display: flex;
  justify-content: flex-end;
  align-self: end;

}
h1{
  display: flex;
  justify-content: center;
}

img {
  justify-content: center;
  align-items: end;
  width: 70px;
  height: 70px;
  border-radius: 60px;
  margin: 0 40px;
  justify-content: center;
  
}

#occupation {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(223, 219, 219);
  width: 200px;

}

#brand {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#contact{
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  
}
#one{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(73, 134, 12);
  background-size: auto;
  width: 100px;
  height: 50px;
  
}

#two {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(96, 160, 32);
  background-size: auto;
  width: 100px;
  height: 50px;
  box-sizing: content-box;
  margin: 0px;
}

@media only screen and (min-width: 768) {
  #occupation{
  display: grid;
  justify-content: end;
  align-items: center;
  order: 1;
  }
}

@media (max-width: 768px) {
  #three{
    display: none;
  }
  
     
} 

